<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset=UTF-8>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='matter-test/css/style.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.17.1/matter.js"></script>
    <title>Web Study | By Henry</title>
</head>
<body>
  <div id="container">

  </div>
</body>
</html>

<script src="{{ url_for('static', filename='matter-test/js/script.js')}}" type="module" defer></script>
