<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset=UTF-8>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='random_letter_effect/style.css')}}">
    <title>Web Study | By Henry</title>
</head>
<body>
  
</body>
</html>

<script src="{{ url_for('static', filename='random_letter_effect/script.js')}}" type="module" defer></script>
