<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body style="display: flex; align-items: center; justify-content: center; margin: 0; padding: 0; width: 100%;">
        <table style="width: 100%;">
            <tbody>
                <tr style="text-align: center; font-size: 25px; font-weight: bold;">축하합니다!</tr>
                <tr style="text-align: center; font-size: 15px;">이 이메일을 받은 당신은 바보입니다!</tr>
                <tr align="center">
                    <td style="text-align: center; font-size: 15px; font-weight: bold; background-color: rgb(197, 197, 197);">{{auth_code}}</td>
                </tr>
            </tbody>
        </table>
</body>
</html>