<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset=UTF-8>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='chat_app/style.css')}}">
    <title>Web Study | By Henry</title>
</head>
<body>
  <div class="container">
    <div id="message_area">

    </div>
  </div>
</body>
</html>

<script src="{{ url_for('static', filename='chat_app/script.js')}}" type="module" defer></script>
