<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset=UTF-8>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='following_post_it/style.css')}}">
    <link href=https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css rel=stylesheet>
    <title>Web Study | By Henry</title>
</head>
<body>
  
</body>
</html>

<script type='module' src="{{ url_for('static', filename='following_post_it/point.js')}}"></script>
<script type='module' src="{{ url_for('static', filename='following_post_it/dialog.js')}}"></script>
<script type='module' src="{{ url_for('static', filename='following_post_it/script.js')}}"></script>