<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset=UTF-8>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='input_custom_slider/style.css')}}">

    <title>Web Study | By Henry</title>
</head>
<body>
    <div class="container">
        <div class="img_container" id="img_container">
            <div class="img_frame" id="img_frame">
                <img
                    id="image1"
                    src="{{ url_for('static', filename='input_custom_slider/image.png') }}" 
                    alt="image1"
                    draggable="false"
                >
            </div>
            <div class="img_frame" id="img_frame">
                <img
                    id="image2"
                    src="{{ url_for('static', filename='input_custom_slider/image.png') }}" 
                    alt="image1"
                    draggable="false"
                >
            </div>
            <div class="img_frame" id="img_frame">
                <img
                    id="image3"
                    src="{{ url_for('static', filename='input_custom_slider/image.png') }}" 
                    alt="image1"
                    draggable="false"
                >
            </div>
            <div class="img_frame" id="img_frame">
                <img
                    id="image4"
                    src="{{ url_for('static', filename='input_custom_slider/image.png') }}" 
                    alt="image1"
                    draggable="false"
                >
            </div>
        </div>
        <div class="slider_container" id="slider_container">
            <span id="current_value"></span>
            <input 
                id="slider"
                type="range"
                value=0
                min=0
                max=3
            >
            <span id="end_value"></span>
        </div>
    </div>
</body>
</html>

<script src="{{ url_for('static', filename='input_custom_slider/script.js')}}"></script>
